extends ../base

block content
    button#create-process-btn.btn.btn-info.mt-3.mb-5.mr-5.btn-lg.float-right(type='button' ,name='create-process-btn' ,data-toggle='modal', data-target='#create-process-modal') Create new Process
    .container
        table.table.table-hover.mt-5.bg-white
            thead
            tr.table-primary
                th(scope='col') Process Name 
                th(scope='col') Process Id
                th(scope='col') Created At
                th(scope='col').text-center Details

            tbody
            each process in processes
                tr
                    td
                        i.fas.fa-cog.fa-lg.mr-2   
                        =process.process_name 
                    td=process.process_id
                    td=process.createdAt.toLocaleString()
                    td.text-center
                        a(href='/process/'+process._id)
                            i.fas.fa-share.fa-2x
    include _createProcess

block scripts
    script(src='/resources/js/process/create.process.js')