nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    a.navbar-brand(href='#') Ved Engineers
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarColor01
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/index.html') Home 
            li.nav-item
                a.nav-link(href='/resources/html/dashboard.html') Dashboard
            li.nav-item
                a.nav-link(href='#') Logout