doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Dashboard
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(href='/resources/css/dashboard.css', rel='stylesheet')
    body
        header.masthead
            button.nav-btn
            h1.title Dashboard
            aside.sidebar.is-open
                nav.nav
                    ul
                        li
                            a(href='') Home
                        li
                            a(href='') Assembly Master
                        li
                            a(href='') Customer List
                        li
                            a(href='') Supplier Master
                        li
                            a(href='') Employee Master
                        li
                            a(href='') Inventory
                        li
                            a(href='') Equipment Master
                        li.collapse-btn
                            a.collapse collapse
    section.page-content
        section.grid
            article
            article#columnchart_material1
            article#columnchart_material2
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    script(src='/resources/js/dashboard/dashboard.js')
    script(src='/resources/js/dashboard/charts.js')