doctype html
html
    head    
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/yeti/bootstrap.min.css' 
        integrity='sha384-bWm7zrSUE5E+21rA9qdH5frkMpXvqjQm/WJw4L5PYQLNHrywI5zs5saEjIcCdGu1' crossorigin='anonymous')
        title #{title}
        style.
            body{
                background-image: linear-gradient(to bottom,#008cba 0%,#004e92 50%,#000428 100%);
                min-width: 768px;
                user-select: none;
                -moz-user-select: none;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
    body
        .container.text-center.text-white.mt-5
            h1=statusCode
            h2=msg
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')