extends base

block content
    .container
        table.table.table-hover.mt-5
            thead
            tr.table-primary
                th(scope='col') Process Name 
                th(scope='col') Process Id
                th(scope='col').text-center Details

            tbody
            each process in processes
                tr
                    td
                        i.fas.fa-cog.fa-lg.mr-2   
                        =process.process_name 
                    td=process.process_id
                    td.text-center
                        a(href='/process/'+process._id)
                            i.fas.fa-long-arrow-alt-right.fa-2x
