extends base

block content
    .container.mt-5.mb-5.w-50.p-5.shadow.bg-white
        form.form
            .form-group
                h1 Edit Raw Material
            .form-group
                label.col-form-label.col-form-label-lg(for='name') Material Name
                input#name.form-control.form-control-lg(type='name', autocomplete='off', placeholder='Enter Material name', required)
            .form-group
                label.col-form-label.col-form-label-lg(for='id') Material Id
                input#id.form-control.form-control-lg(type='text', placeholder='Enter Material Id', required)
            .form-group
                label.col-form-label.col-form-label-lg(for='description') Description
                textarea#description.form-control.form-control-lg(type='text', placeholder='Material Description', rows="3", required)
            .form-group
                label.col-form-label.col-form-label-lg(for='quantity') Quantity
                input#quantity.form-control.form-control-lg(type='number', placeholder='Enter Quantity' ,value='0', required)
            .form-group
                label.col-form-label.col-form-label-lg(for='measurement') Measurement
                input#measurement.form-control.form-control-lg(type='text', placeholder='Enter Measurement', required)
            .form-group
                label.col-form-label.col-form-label-lg(for='unit') Unit
                select#unit.form-control.form-control-lg
                    option Weight
                    option Metrics
                    option Volume
                    option Quantity
            .form-group
                .d-inline-flex
                    input.btn.btn-primary.btn-lg(type='submit', name='submit', value='Save Process').mr-3#save
                    input.btn.btn-primary.btn-lg(type='submit', name='submit', value='Save as new Process').mr-3#saveAsNew
                    input.btn.btn-primary.btn-lg(type='reset', name='reset', value='Reset')
                    