extends ../base

block content
    button.btn.btn-info.m-3.btn-lg(type='button', onclick='window.history.back();') Back
    .container.mt-3
        
        .jumbotron.h-100.w-100.pt-5
            .row.mb-5.mr-0.ml-0.w-100
                .col-sm-6
                    h1.display-5=raw_material.raw_material_name
                    p.lead=raw_material.description
                .col-sm-6
                    .card.float-right(style='width: 10rem;height:10rem')
                        img.card-img(src=`${raw_material.raw_material_thumbnail_location}`, alt='raw_material image',style='width: 10rem;height:10rem')
                
            .row
                .col-sm-6
                    .card.mb-3.border-info.h-100
                        .card-body
                            h4.card-title.mb-2.text-muted Details
                            ul.list-group.list-group-flush
                            li.list-group-item Raw Material Id:  
                                =raw_material.raw_material_id   
                            li.list-group-item Category: 
                                =raw_material.category
                            li.list-group-item Quantity: 
                                =raw_material.quantity
                            li.list-group-item Measurement: 
                                =raw_material.measurement
                            li.list-group-item Unit: 
                                =raw_material.unit
                            li.list-group-item Username Created: 
                                =raw_material.username_created
                            if raw_material.username_updated
                                li.list-group-item Username Updated: 
                                    =raw_material.username_updated
                .col-sm-6
                    .card.mb-3.border-info.h-100
                        .card-body
                            h4.card-title.mb-2.text-muted Recents
                            ul.list-group.list-group-flush
                            li.list-group-item Raw Material: 1
                            li.list-group-item Raw Material: 2
                            li.list-group-item Raw Material: 3
                            li.list-group-item Raw Material: 4
                            li.list-group-item Raw Material: 5
            .d-inline-flex.float-left.mt-5
                button(type='button', id='edit-btn' name='edit-btn' ,data-toggle='modal', data-target='#editRawMaterial').btn.btn-outline-primary.mr-3.btn-lg Edit
                a#delete.btn.btn-outline-danger.mr-3.btn-lg Delete
                input#id(type='hidden', name='initialPid', value=`${raw_material._id}`)
    include _editRawMaterial

block scripts
    script(src='/resources/js/raw_material/edit.raw_material.js')
    script(src='/resources/js/raw_material/delete.raw_material.js')